<p-table
  #studentsTable
  [value]="$any(students$ | async)"
  dataKey="id"
  [loading]="loading"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <button
        type="button"
        pButton
        (click)="openModal()"
        pRipple
        icon="pi pi-plus"
        class="mr-2"
        pTooltip="Add"
        tooltipPosition="bottom"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10%">Id</th>
      <th style="width: 25%">Name</th>
      <th style="width: 25%">Age</th>
      <th style="width: 25%">University</th>
      <th style="width: 25%">Remove Student</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="id"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="name"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="age"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="age"></p-columnFilter>
      </th>
      <th ></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr>
      <td>
        {{ student.id }}
      </td>
      <td>
        {{ student.name }}
      </td>
      <td>
        {{ student.age }}
      </td>
      <td>
        {{ student?.university?.name }}
      </td>
      <td>
        <button
          pButton
          icon="pi pi-trash"
          type="button"
          label="Delete"
          (click)="removeStudent(student.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">No students found.</td>
    </tr>
  </ng-template>
</p-table>

<p-toast></p-toast>

<p-dialog
  header="New Student"
  [(visible)]="visible"
  [style]="{ width: '50vw', height: '25rem' }"
>
  <form [formGroup]="newStudentForm" (ngSubmit)="addStudent()" class="card">
    <div class="flex-container">
      <div class="form-row form-group">
        <span class="p-float-label">
          <input
            [class]="
              newStudentForm.controls['name'].valid ? '' : 'ng-dirty ng-invalid'
            "
            pInputText
            id="name"
            name="name"
            formControlName="name"
          />
          <label for="name">Name</label>
        </span>
      </div>
      <div class="form-row form-group">
        <span class="p-float-label">
          <p-inputNumber
            [class]="
              newStudentForm.controls['age'].valid ? '' : 'ng-dirty ng-invalid'
            "
            [min]="18"
            [max]="100"
            inputId="age"
            name="age"
            formControlName="age"
          >
          </p-inputNumber>
          <label for="age">Age</label>
        </span>
      </div>
      <div class="form-row form-group">
        <span class="p-float-label">
          <p-dropdown
            [class]="
              newStudentForm.controls['university'].valid
                ? ''
                : 'ng-dirty ng-invalid'
            "
            [options]="$any(universities$ | async)"
            placeholder="Select a University"
            optionLabel="name"
            optionValue="id"
            inputId="university"
            name="university"
            formControlName="university"
          ></p-dropdown>
          <label for="university">Select a University</label>
        </span>
      </div>
      <div class="form-row buttons">
        <button
          pButton
          icon="pi pi-check"
          type="submit"
          label="Confirm"
          [disabled]="!newStudentForm.valid"
        ></button>
        <p-button
          (click)="closeModal()"
          icon="pi pi-times"
          label="Cancel"
          class="p-button-danger"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>
